<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>filmography.servlets.MainPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>signUp</servlet-name>
        <servlet-class>filmography.servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>films</servlet-name>
        <servlet-class>filmography.servlets.FilmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>films</servlet-name>
        <url-pattern>/servlet/films</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>filmography.servlets.AddFilmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/servlet/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>filmography.servlets.EditPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/servlet/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>filmography.servlets.DeletingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/servlet/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>filmography.servlets.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>auth-filter</filter-name>
        <filter-class>filmography.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>auth-filter</filter-name>
        <url-pattern>/servlet/*</url-pattern>
    </filter-mapping>

</web-app>